<div ng-controller="MapTrackerCtrl">
	<map zoom="4" center="[-34.95799531086791, -59.677734375]" zoom-control="true">
		<!--marker ng-repeat="agent in agents" id="{{ agent.id }}"  position="[ {{agent.latLong.x}} , {{agent.latLong.y}} ]" title="{{agent.name}}" on-click="showInfoWindow()" icon="images/officer.png">
		</marker-->
		<shape ng-repeat="area in areas" id="{{area.id}}" name="polygon" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2" paths="{{area.points}}"></shape>
	</map>
</div>


 <div ng-controller="AgentHistoryCtrl">
	 <script type="text/ng-template" id="myModalContent.html">
	    <div class="modal-header">
	        <h3 class="modal-title">Historial</h3>
	    </div>
	    <div class="modal-body">
	       <ul class="list-group history-list">
	  			<li ng-show="!items.length">No tiene historial.</li>
	  			<li class="list-group-item" ng-repeat="item in items">
	                {{item.date | date:'yyyy-MM-dd HH:mm:ss'}} - {{ item.notification }}
	            </li>
	        </ul>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-success" ng-click="cancel()">Cerrar</button>
	    </div>
	</script>
</div>
