<div ng-controller="MapTrackerCtrl">
	<map zoom="2" center="[1, -1]" zoom-control="true">
		<marker ng-repeat="agent in agents" id="{{ agent.id }}"  position="[ {{agent.latLong.x}} , {{agent.latLong.y}} ]" title="{{agent.name}}" on-click="showInfoWindow()">
		</marker>
	</map>
</div>


 <div ng-controller="AgentHistoryCtrl">
	 <script type="text/ng-template" id="myModalContent.html">
	    <div class="modal-header">
	        <h3 class="modal-title">Historial</h3>
	    </div>
	    <div class="modal-body">
	       <ul class="list-group">
	  			<li class="list-group-item" ng-repeat="item in items">
	                {{item.date | date:'yyyy-MM-dd HH:mm:ss'}} - {{ item.notification }}
	            </li>
	        </ul>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-info" ng-click="cancel()">Cerrar</button>
	    </div>
	</script>
</div>
